certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==8.0.1
colorama==0.4.4
cors==1.0.1
filelock==3.0.12
Flask==2.0.1
future==0.18.2
gevent==21.1.2
greenlet==1.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycparser==2.20
PySocks==1.7.1
requests==2.25.1
requests-file==1.5.1
six==1.16.0
SQLAlchemy==1.4.20
tldextract==3.1.0
urllib3==1.26.6
Werkzeug==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
